.featured_in {
  margin-top: 48px;
  span {
    text-align: center;
    width: 100%;
    font-weight: $font-weight-bold;
    color: var(--bs-heading-color);
    font-size: rem(24px);
    margin-bottom: 10px;
  }
  .feature_list {
    display: flex;
    flex-wrap: wrap;
    div {
      width: 25%;
      display: flex;
      justify-content: center;
      padding-top: 20px;
      img {
        width: 200px;
      }
    }
  }
}

h2 {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  color: var(--bs-heading-color);
}

.secure {
  margin-top: 48px;
  .secure_inner {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    .card {
      width: 32%;
      .secure_filed {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 100px;
        }
        p {
          margin: 0px;
          font-size: 19px;
          margin-top: 12px;
        }
        label {
          display: inline-block;
          margin-top: 12px;
          font-size: 14px;
          max-width: 500px;
          text-align: center;
        }
      }
    }
  }
}

.beta {
  margin-top: 48px;
  .beta_inner {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
    align-items: center;
    .text {
      display: flex;
      flex-direction: column;
      width: 48%;
      h2 {
        text-align: start;
      }
      p {
        margin: 0px;
        margin-top: 12px;
      }
      button {
        background-color: var(--bs-theme);
        border-color: var(--bs-theme);
        backdrop-filter: blur(38.5864px) !important;
        width: 270px;
        height: 46.5px;
        font-size: 15px;
        border-radius: 6px;
        margin-top: 44px;
        border: none;
      }
    }
    .image_wrap {
      height: 525px;
      img {
        height: 100%;
      }
    }
  }
}

.buy_sec {
  margin-top: 48px;
  .card {
    margin-top: 20px;
    .card-body {
      padding-top: 60px;
    }
    .buy_sec_inner {
      display: flex;
      justify-content: space-between;
      row-gap: 8%;
      .text {
        width: 46%;
        display: flex;
        flex-direction: column;
        span {
          font-size: 22px;
          color: #ff6060;
        }
        p {
          margin: 0px;
          font-size: 15px;
          color: white;
        }
        label {
          font-size: 12px;
          display: inline-block;
          margin-bottom: 40px;
        }
        .button_wrap {
          display: flex;
          button {
            border-radius: 6px;
            border: none;
            margin-right: 16px;
            height: 46.5px;
            font-size: 15px;
          }
          .buy_button {
            background-color: var(--bs-theme);
            border-color: var(--bs-theme);
            width: 215px;
          }
          .help_button {
            width: 148px;
          }
        }
      }
      .image_wrap {
        width: 46%;
        img {
          width: 100%;
          max-width: 740px;
        }
      }
    }
  }
}

.how_it_works {
  margin-top: 48px;
  .card {
    .works_inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      p {
        text-align: center;
        max-width: 80%;
      }
      .main {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
        .works {
          width: 46%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .image_wrap {
          width: 46%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
