.header {
  text-align: center;
}
h2 {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  color: var(--bs-heading-color);
}

.coming-soon-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  span {
    text-align: center;
    width: 100%;
    font-weight: $font-weight-bold;
    color: var(--bs-heading-color);
    font-size: rem(20px);
    margin-bottom: 10px;
  }
  .is-countdown {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
    @include clearfix();

    & .countdown-row {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      & .countdown-section {
        width: 32%;
        max-width: rem(80px);
        padding: $spacer * 0.5;
        background: rgba(var(--#{$prefix}inverse-rgb), 0.15);
        margin: $spacer * 0.25;
        color: var(--#{$prefix}inverse);
        border-radius: $border-radius-lg;

        @include media-breakpoint-down(sm) {
          width: rem(80px);
          padding: $spacer * 0.5 0;
          margin: $spacer * 0.25;
        }
      }
    }
    & .countdown-amount {
      font-size: rem(28px);
      font-weight: $font-weight-bold;
      line-height: 1.25;

      @include media-breakpoint-down(sm) {
        font-size: rem(28px);
      }
    }
    & .countdown-period {
      font-size: $font-size-base * 0.9;
      color: rgba(var(--#{$prefix}inverse-rgb), 0.75);
      line-height: 1.5;

      @include media-breakpoint-down(sm) {
        font-size: $font-size-base * 0.9;
      }
    }
  }
}

.top_info {
  row-gap: 20px;

  .total_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px solid grey;
    min-height: 80px;
    @include media-breakpoint-down(xl) {
      border-left: none;
    }
    p {
      text-align: center;
      width: 100%;
      font-weight: $font-weight-bold;
      color: var(--bs-heading-color);
      font-size: rem(20px);
    }
    label {
      text-align: center;
    }
  }
}

.claim_buttons {
  display: flex;
  justify-content: center;
  column-gap: 2%;
  @include media-breakpoint-down(lg) {
    flex-direction: column;
    row-gap: 24px;
  }
  .card {
    width: 48%;
    position: relative;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
    &.card-expand {
      width: 100%;
      position: fixed;
    }
    span {
      text-align: center;
      width: 100%;
      font-weight: $font-weight-bold;
      color: var(--bs-heading-color);
      font-size: rem(20px);
      margin-bottom: 10px;
    }
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 150px;
      @include media-breakpoint-down(xl) {
        height: 200px;
      }
      @include media-breakpoint-down(lg) {
        height: auto;
      }
      p {
        margin: 0px;
      }
      button {
        position: absolute;
        border: none;
        background-color: var(--bs-theme);
        font-size: 16px;
        height: 42px;
        border-radius: 6px;
        padding-left: 10px;
        padding-right: 10px;
        bottom: 20px;
        width: 158px;
        @include media-breakpoint-down(lg) {
          position: initial;
          margin-top: 20px;
        }
      }
    }
  }
}

.video_info {
  display: flex;
  justify-content: center;
  .card {
    width: 800px;
    &.card-expand {
      width: 100%;
    }
    video {
      width: 400px;
      border-radius: 10px;
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
    .audio_group {
      video {
        display: none;
      }
      .spinner {
        position: absolute;
        top: 200px;
        @include media-breakpoint-down(sm) {
          top: calc(50% - 40px);
        }
      }
      img {
        width: 400px;
        height: 400px;
        @include media-breakpoint-down(sm) {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.buy_sell_info {
  display: flex;
  justify-content: center;
  .card {
    max-width: 500px;
    &.card-expand {
      max-width: initial;
    }
  }
}

.detail_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 20px;
  .card {
    width: 24%;
    min-height: 200px;
    @include media-breakpoint-down(xl) {
      width: 49%;
    }
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
    &.card-expand {
      width: 100%;
    }
    span {
      text-align: center;
      font-size: 20px;
      color: var(--bs-heading-color);
    }
    .info_list {
      display: flex;
      flex-direction: column;
      padding: 0px 10px;
      gap: 10px;
      label {
        text-align: center;
      }
      a {
        color: #ffffffbf;
        text-decoration: none;
        display: -webkit-box;
        text-align: center;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}

.map_spread {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .card {
    max-width: 1200px;
    @include media-breakpoint-down(lg) {
      width: 100%;
    }
    .group_body {
      display: flex;
      justify-content: space-between;
      padding-top: 32px;
      @include media-breakpoint-down(xl) {
        flex-direction: column;
        row-gap: 20px;
      }
      .map_wrap {
        width: 60%;
        @include media-breakpoint-down(xl) {
          width: 100%;
        }
      }
      .text_box {
        width: 35%;
        height: 300px;
        overflow-y: scroll;
        @include media-breakpoint-down(xl) {
          width: 100%;
          height: auto;
          overflow-y: auto;
        }
      }
    }
    .card {
      width: auto;
    }
  }
}

.personal_hoding {
  .card_group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    .card {
      width: 32%;
      min-height: 200px;
      @include media-breakpoint-down(xl) {
        width: 33%;
      }
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
      &.card-expand {
        width: 100%;
      }
      span {
        text-align: center;
        font-size: 20px;
        width: 100%;
        color: var(--bs-heading-color);
      }
      label {
        text-align: center;
        width: 100%;
      }
    }
  }
}
